@import '~antd/dist/antd.less';

@import url("https://fonts.googleapis.com/css2?family=Signika:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap");
/* font-family: 'Assistant', sans-serif; */

/*-------Titres------*/
h1.ant-typography{
  color: @primary-color;
  margin-top: 3rem;
}

h2.ant-typography{
  color: @primary-color;
}


h2{
  color: @highlight-color;
}

/* -------NAV------- */
aside{
  width: 100vw;
  height: auto;
  justify-content: space-between;
  padding-top: 15px;
  box-shadow: @shadow-color;
  .ant-menu{
    border: none;
  }
}

Footer{
    background-color: #fff;
}

/* -------CONTENT------- */

// .ant-layout {
//   background-color: #F6F8FB;
//   display: flex;
//   align-items: center;
// }

main.ant-layout-content{
  background-color: #FFF;
  margin: 20px;
  padding: 30px;
  width: 70vw;
  box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
  border-radius: 8px;
}

/* -------TABLEAU------- */

.ant-table-thead{
  .ant-table-cell{
    color: @highlight-color;
}
}

main.ant-layout-content .ant-table {
  display: block;

  @media screen and (max-width: 720px) {
    &-thead {
      display: none;
    }

    &-thead>tr,
    &-tbody>tr {

      th,
      td {
        &:first-of-type {
          padding-top: 1rem;
        }

        &:last-of-type {
          padding-bottom: 1rem;
        }
      }

      >th,
      >td {
        display: block;
        width: auto !important;
        border: none;
        padding: 0 1rem;
        font-size: 1.1rem;

        &:last-child {
          border-bottom: 1px solid #eee;
        }
      }
    }
  }
}

/* --------------------- SIGNIN */
.screenSignIn {
  height: 100vh;
}
.bgsignin {
  background-image: url("../img/bgsignin.svg");
  background-position: center;
  background-size: cover;
}
.blocform {
  font-family: "Signika", sans-serif;
  padding: 30px;
  color: @processing-color;
}

.top {
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
// .buttonSignUp {
//   margin-top: 5rem;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
.terms {
  position: relative;
  bottom: 0;
  text-align: center;
}
.form {
  text-align: center;
}
.contentForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100hv;
}
/* SIGNIN --------------------- */
@media screen and (max-width: 850px) {
  .bgsignin {
    display: none;
  }
  .top {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .buttonSignUp {
    margin-top: 3rem;
  }
  .blocform {
    border-top: solid #6693fe 3px;
  }
}
